
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="../assets/profpic.jpg" style="width:100%">
  <a #home href="#" (click)="home.style.backgroundColor = 'black'; contact.style.backgroundColor = '#222'; about.style.backgroundColor = '#222'; photo.style.backgroundColor = '#222' " class="w3-bar-item w3-button w3-padding-large">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a #about (click)="about.style.backgroundColor = 'black'; home.style.backgroundColor = '#222'; contact.style.backgroundColor = '#222'; photo.style.backgroundColor = '#222' " href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a #photo (click)="photo.style.backgroundColor = 'black'; home.style.backgroundColor = '#222'; about.style.backgroundColor = '#222'; contact.style.backgroundColor = '#222' " href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PORTFOLIO</p>
  </a>
  <a #contact (click)="contact.style.backgroundColor = 'black'; home.style.backgroundColor = '#222'; about.style.backgroundColor = '#222'; photo.style.backgroundColor = '#222' " href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>
<router-outlet></router-outlet>

