<div class="center">
  <div class="backgroundColor">
      <img src="../../assets/phone.png">
  </div>
  <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis mauris non porta tempus. Vivamus quis urna facilisis, aliquet mauris a, tincidunt nibh. Aenean posuere aliquam urna aliquet vehicula. Nulla ac pretium dolor, a pulvinar erat. Ut velit lacus, accumsan eu nunc ut, egestas facilisis ipsum. Morbi pellentesque tincidunt eros, eget semper nisi ultricies ac. Nam tincidunt pulvinar vehicula. Vivamus in purus interdum, sagittis libero sit amet, ultrices nisi. Suspendisse fermentum ex nisl, nec faucibus neque suscipit id. Vivamus dignissim vel mi sit amet accumsan. Sed vel aliquam neque. Integer massa dui, porttitor id elementum malesuada, finibus ac nulla.</p>

</div>
