<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
    <div class="hk w3-row-padding w3-center w3-padding-24 w3-hide-small" style="margin:0 -16px">
      <div class="w3-half ">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-black"></i></p>
        <p>npkden@hotmail.com</p>
      </div>
      <div class="w3-half ">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-black"></i></p>
        <p>Quebec, Canada</p>
      </div>
    </div>
    <div class="hj w3-container w3-padding-32 w3-center w3-black" id="home">
      <h2>Need a website?</h2>
      <h4><b class="w3-animate-bottom">I'm here for you.</b></h4>
      <img class="w3-image sb" src="../../assets/profpic.jpg">
      <div class="w3-third a">
        <div class="w3-hide-small w3-card w3-container w3-hide-small" style="min-height:460px">
        <h3>Unique Designs</h3><br>
        <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        <p>Designs that suit your needs</p>
        <p>Equal across all platforms</p>
        <p>Equal across all devices</p>
        </div>
      </div>
      <div class="w3-third b">
        <div class="w3-hide-small w3-card w3-container" style="min-height:460px">
        <h3>Mobile Responsive</h3><br>
        <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        <p>Built-in responsiveness</p>
        <p>Fits any screen sizes</p>
        <p>PC Tablet and Mobile</p>
        </div>
      </div>
    </div>
  <div class="hg w3-hide-large w3-hide-medium"></div>  
  <!-- About Section -->
  <hr>
  <div class="w3-padding-64 w3-content margintop" id="about">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
    
        <!-- The Grid -->
        <div class="w3-row-padding">
        
          <!-- Left Column -->
          <div class="w3-third w3-animate-bottom"  >
          
            <div class="w3-black w3-text-grey w3-card-4">
              <div class="w3-display-container">
                <img class="rounded" src="../../assets/IMG_0497.JPG" style="width:100%" alt="Avatar">
                <div class="w3-display-bottomleft w3-container w3-text-white">
                  <h2>-Dennis</h2>
                </div>
              </div>
              <div class="w3-container">
                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white"></i>Developer/Student</p>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-white"></i>Quebec, Canada</p>
                <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-white"></i>npkden@hotmail.com</p>
                <hr>
      
                <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-white"></i>Skills</b></p>
                <p>HTML5</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-gray" style="width:90%">90%</div>
                </div>
                <p>CSS</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-gray" style="width:80%">
                    <div class="w3-center w3-text-black">80%</div>
                  </div>
                </div>
                <p>Javascript</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-gray" style="width:70%">70%</div>
                </div>
                <p>Angular</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-gray" style="width:60%">60%</div>
                </div>
                <p>NodeJS</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-gray" style="width:30%">30%</div>
                </div>
                <p>MongoDB</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-gray" style="width:30%">30%</div>
                </div>
                <p>Express</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-gray" style="width:30%">30%</div>
                </div>
                <br>
      
                <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-white"></i>Languages</b></p>
                <p>English</p>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-round-xlarge w3-gray" style="height:24px;width:100%"></div>
                </div>
                <p>Turkish</p>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-round-xlarge w3-gray" style="height:24px;width:50%"></div>
                </div>
                <p>French</p>
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-round-xlarge w3-gray" style="height:24px;width:90%"></div>
                </div>
                <br>
              </div>
            </div><br>
      
          <!-- End Left Column -->
          </div>
      
          <!-- Right Column -->
          <div class="w3-twothird w3-animate-bottom">
          
            <div class="w3-container w3-card w3-black w3-margin-bottom">
              <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-white"></i>Education</h2>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Dawson College </b></h5>
                <h6 class="w3-text-gray"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Fall 2017 - <span class="w3-tag w3-gray w3-round">Current</span></h6>
                <p>Currently studying computer science at Dawson College.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>High School</b></h5>
                <h6 class="w3-text-gray"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2012 - July 2017</h6>
                <p>Finished high school. Not really impressive but hey, I gotta put something on my resume...</p>
                <hr>
              </div>
            </div>
      
            <div class="w3-container w3-card w3-black">
              <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-white"></i>FAQs</h2>
              <br />
              <br />
              <div class="container">
                <div id="CMS"><div class="wm wp wb wc145">
                <h2 class="CMS_edit CMS_remove">Frequently Asked Questions</h2>
                <div class="wc145item CMS_repeat">
                  <div class="wc145title"><i class="fa"></i><span class="CMS_unwrap CMS_search CMS_edit">How much will it cost to build a website?</span></div>
                  <div class="CMS_widgets wc145body" data-cms-category="Inline">
                    <p class="wm CMS_edit wc145bodyp">This depends on <u>MANY</u> different factors. I can't tell you my price without first understanding your project, but in general the prices range from 250$-400$ for a custom-styled static website. Keep in mind it might be much more or much less depending on what you're asking. </p>
                  </div>
                </div>
                <div class="wc145item CMS_repeat CMS_remove">
                  <div class="wc145title"><i class="fa"></i><span class="CMS_unwrap CMS_search CMS_edit">How much time will it take to build a website?</span></div>
                  <div class="CMS_widgets wc145body" data-cms-category="Inline">
                    <p class="wm CMS_edit wc145bodyp">Again, this depends on various factors, including other projects and my personal life. I can't tell you how much time it will take until we get to discuss.</p>
                  </div>
                </div>
                <div class="wc145item CMS_repeat CMS_remove">
                    <div class="wc145title"><i class="fa"></i><span class="CMS_unwrap CMS_search CMS_edit">Can you host my website?</span></div>
                    <div class="CMS_widgets wc145body" data-cms-category="Inline">
                      <p class="wm CMS_edit wc145bodyp">Sure, I can host and manage your website at 20$ a month.</p>
                    </div>
                  </div>
              </div></div>
              </div>
            </div>
      
          <!-- End Right Column -->
          </div>
          
        <!-- End Grid -->
        </div>
        
        <!-- End Page Container -->
      </div>
      
      <footer class="w3-container w3-white w3-center w3-margin-top">
      </footer>
    </div>
  
  <!-- Portfolio Section -->
  <hr>
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My past work. <small><b>Clicking the image will redirect you to the webpage.</b></small></h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="bone">
        <h1>PC version.</h1>
        <a target="_blank" href="https://harryenterprise.github.io/">
          <img src="../../assets/Harryenterprise.png" style="width:100%">
        </a>
          <div class="space">
        <h1 class="b1">Mobile version.</h1>
          <div>
            <a target="_blank" href="https://harryenterprise.github.io/">
            <img class="img1" src="../../assets/mobileharryenterprise.jpg" style="height: 500px;">
            </a>
          </div>
        </div>
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <hr>
  <br>
  <br>
  <br>
  <br>
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Quebec, Canada</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: npkden@hotmail.com</p>
    </div><br>
    <p>Lets get in touch. Send me a message.</p>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-6">
          <h2>Great Prices</h2>
          <p>Building a website can be a very exciting process with many challenging obstacles. You did a good thing to visit me, I offer an excellent service at a good price.</p>
        </div>
        <div class="col-lg-6">
          <h2>Trustworthy</h2>
          <p>I'm excited to get in touch with you. My priority is to estabish a lasting,trustful relationship which will in turn help us build your vision.</p>
        </div>
      </div>
  <br>
  <br>
  <br>
  <br>

  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
<hr>
<footer class="container">
    <p class="text-center para">&copy; 2018 Khelvaly Inc. All rights reserved. </p>
  </footer>

<!-- END PAGE CONTENT -->
</div>
