<div class="center">
<div class="w3-main" style="margin-left:250px">
<div class="w3-padding-64 w3-content w3-text-grey contactwidth" id="contact">
    <h2 class="w3-text-light-black">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><img src="../../assets/Location.png" class="sb fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"> Montreal, Quebec</p>
      <p><img src="../../assets/phone.png" class="sb fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"> Phone: 514-264-0478</p>
      <p><img src="../../assets/mail.png" class="sb fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> Email: Harryhelvaly@hotmail.com</p>
    </div><br>

    <img class="contactIMG" src="../../assets/35394729_1746667035369603_4195298100245430272_n.jpg">
  <!-- End Contact Section -->
</div>
</div>
</div>