<!-- styling the height and width is important for some transitions -->
<div class="backgroundColor">
<div class="center">
    <div class="your-class" style="width: 400px; height: 200px">
     <img src="../../assets/bigstock-Construction-Worker-At-Site-3461983.jpg"> <!-- can use any element you want, not just images -->
     <img src="../../assets/Construction-cranes-shutterstock_227957380.jpg">
     <img src="../../assets/Construction.jpg">
     <img src="../../assets/Steel_construction.jpg">  
    </div>
</div>
<div class="paraBack">
  <img class="thumbsup" src="../../assets/thumbs up.png">
  <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis mauris non porta tempus. Vivamus quis urna facilisis, aliquet mauris a, tincidunt nibh. Aenean posuere aliquam urna aliquet vehicula. Nulla ac pretium dolor, a pulvinar erat. Ut velit lacus, accumsan eu nunc ut, egestas facilisis ipsum. Morbi pellentesque tincidunt eros, eget semper nisi ultricies ac. Nam tincidunt pulvinar vehicula. Vivamus in purus interdum, sagittis libero sit amet, ultrices nisi. Suspendisse fermentum ex nisl, nec faucibus neque suscipit id. Vivamus dignissim vel mi sit amet accumsan. Sed vel aliquam neque. Integer massa dui, porttitor id elementum malesuada, finibus ac nulla.</p>
</div>
  <div class="paraBack1">
    <img class="dollar" src="../../assets/dollar.png">
    <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis mauris non porta tempus. Vivamus quis urna facilisis, aliquet mauris a, tincidunt nibh. Aenean posuere aliquam urna aliquet vehicula. Nulla ac pretium dolor, a pulvinar erat. Ut velit lacus, accumsan eu nunc ut, egestas facilisis ipsum. Morbi pellentesque tincidunt eros, eget semper nisi ultricies ac. Nam tincidunt pulvinar vehicula. Vivamus in purus interdum, sagittis libero sit amet, ultrices nisi. Suspendisse fermentum ex nisl, nec faucibus neque suscipit id. Vivamus dignissim vel mi sit amet accumsan. Sed vel aliquam neque. Integer massa dui, porttitor id elementum malesuada, finibus ac nulla.</p>

  </div>
</div>
