nav{
    position: fixed;
    height: 110px;
    background-color:#99a3a3;
    z-index: 1;
}
img{
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top:5px;
    margin-left:10px;
}
.anchor{
    position: absolute;
    margin-left: 140px;
    margin-top:20px;
}
.anchor1{
    position: absolute;
    margin-left: 250px;
    margin-top:20px;
}
.anchor2{
    position: absolute;
    margin-left: 360px;
    margin-top:20px;
}
.copyright{
    position: absolute;
    margin-top: 45%;
    width: 100%;
    text-align: center;
}